---
layout: layouts/base.njk
title: Galerie
---
<!-- filtre dynamique de recherche javascript (sans recharger la page) -->
  <body>
    <section id="filters" class="padding_filters">
        <div id="all">Tout</div>
        <div id="mariage">Mariage</div>
        <div id="grossesse">Grossesse</div>
        <div id="bébé">Bébé</div>
        <div id="famille">Famille</div>
        <div id="baptem">Baptême</div>
        <div id="couple">Couple</div>
        <div id="portrait">portrait</div>
    </section>
    <div id="gallery">
        <img src="/images/pexels-alexandre-saraiva-carniato-2299698.jpg" alt="mariage" data-mariage class="active">
        <img src="/images/pexels-andrea-piacquadio-3820059.jpg" alt="Family" data-family class="active">
        <img src="/images/pexels-fernanda-latronico-673659.jpg" alt="mariage" data-mariage class="active">
        <img src="/images/pexels-photography-maghradze-ph-12467244.jpg" alt="baptem" data-baptem class="active">
        <img src="/images/pexels-photography-maghradze-ph-14643133.jpg" alt="baptem" data-baptem class="active">
        <img src="/images/pexels-photography-maghradze-ph-15819319.jpg" alt="baptem" data-baptem class="active">
        <img src="/images/pexels-photography-maghradze-ph-16197005.jpg" alt="baptem" data-baptem class="active">
        <img src="/images/pexels-дмитрий-зайцев-12166404.jpg" alt="baptem" data-baptem class="active">
        <img src="/images/pexels-pixabay-35065.jpg" alt="portrait" data-portrait class="active">
        <img src="/images/pexels-pixabay-415829.jpg" alt="portrait" data-portrait class="active">
        <img src="/images/pexels-simon-robben-614810.jpg" alt="portrait" data-portrait class="active">
        <img src="/images/pexels-paulo-bert-4192655.jpg" alt="portrait" data-portrait class="active">
        <img src="/images/pexels-vincent-tan-6934325.jpg" alt="portrait" data-portrait class="active">
        <img src="/images/pexels-johanser-martinez-5372800.jpg" alt="portrait" data-portrait class="active">
        <img src="/images/woman-7213852_960_720.webp" alt="Dame" data-people class="active">
        <img src="/images/woman-7213852_960_720.webp" alt="Dame" data-people class="active">
        <img src="/images/woman-7213852_960_720.webp" alt="Dame" data-people class="active">
        <img src="/images/woman-7213852_960_720.webp" alt="Dame" data-people class="active">
        <img src="/images/woman-7213852_960_720.webp" alt="Dame" data-people class="active">
        <img src="/images/woman-7213852_960_720.webp" alt="Dame" data-people class="active">
        <img src="/images/woman-7213852_960_720.webp" alt="Dame" data-people class="active">
        <img src="/images/woman-7213852_960_720.webp" alt="Dame" data-people class="active">
        <img src="/images/woman-7213852_960_720.webp" alt="Dame" data-people class="active">
        <img src="/images/woman-7213852_960_720.webp" alt="Dame" data-people class="active">
        <img src="/images/woman-7213852_960_720.webp" alt="Dame" data-people class="active">
        <img src="/images/woman-7213852_960_720.webp" alt="Dame" data-people class="active">
        <img src="/images/woman-7213852_960_720.webp" alt="Dame" data-people class="active">
        <img src="/images/woman-7213852_960_720.webp" alt="Dame" data-people class="active">
    </div>
</body>

