---
layout: layouts/base.njk
title: tarifs & prestations
---
<body>
<h1>Tarifs et Prestations</h1>
<ul>
<li>« Juste moi » 130 euros
Séance pour une personne, en extérieur ou en studio</li>
<li>
« Pour deux » 195 euros
Pour deux personnes, en extérieur ou en studio</li>
<li>
« Famille » 220 euros
Pour la famille ou les amis jusqu’à 4 personnes, en extérieur ou en studio
30 euros en supplément par personne au-delà de 4 (hormis enfant jusqu’à 2 ans)</li>

<li>
« Il était une fois » 160 euros
Photo de grossesse (À votre domicile, en extérieur ou en studio)</li>

<li>
« Mon bébé » 100 euros
Photo d’enfant jusqu’à 3 ans (photo à domicile)</li>
<li>
« J’immortalise l’événement » sur mesure
Prestation de mariage ou baptême sur devis</li>

</ul>


</body>
